<!DOCTYPE html>
<html lang="bg">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/components.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/auth.css') }}">
    <title>Регистрация | ПБ-Бургас</title>
</head>
<body>
    <nav class="topnav">
        <a href="{{ url_for('main.index') }}" class="logo">ПБ-Бургас</a>
        <div class="nav-links">
            <a href="{{ url_for('main.index') }}">Начало</a>
            <a href="/about">За нас</a>
            <a href="{{ url_for('main.map') }}">Карта</a>
            {% if current_user and current_user.role == 'admin' %}
            <a href="{{ url_for('main.admin_dashboard') }}">Администратор</a>
            {% endif %}
            <a href="/services">Услуги</a>
            <a href="/contact">Контакти</a>
            {% if session.user_id %}
                <a href="{{ url_for('main.dashboard') }}">Табло</a>
                <a href="{{ url_for('auth.logout') }}">Изход</a>
            {% else %}
                <a href="{{ url_for('auth.SignIn') }}">Вход</a>
                <a href="{{ url_for('auth.SignUp') }}">Регистрация</a>
            {% endif %}
        </div>
    </nav>
    <div class="form-page">
        <form class="auth-form" method="POST" action="{{ url_for('auth.SignUp') }}">
            <h2>Създаване на профил</h2>
            <label for="uname">Потребителско име</label>
            <input type="text" id="uname" name="uname" required>

            <label for="phone">Телефон *</label>
            <input type="tel" id="phone" name="phone" required>

            <label for="email">Имейл</label>
            <input type="email" id="email" name="email">

            <label for="fname">Име</label>
            <input type="text" id="fname" name="fname" required>

            <label for="lname">Фамилия</label>
            <input type="text" id="lname" name="lname" required>

            <label for="pass">Парола</label>
            <input type="password" id="pass" name="pass" required>

            <button type="submit">Регистрация</button>
            <p class="form-footer">Вече имате профил? <a href="{{ url_for('auth.SignIn') }}">Влезте тук</a></p>
        </form>
    </div>
</body>
</html>